<input id="names" type="text" [(ngModel)]="nombre">

{{ nombre }}

<div *ngIf="nombre === 'paco'">
  Este es paco
</div>
<div *ngIf="nombre === 'pedro'">
  Este es pedro
</div>
<div *ngIf="nombre === 'ignacio'">
  Este es ignacio
</div>

<div [ngSwitch]="nombre">
  <p *ngSwitchCase="'paco'">Este es paco</p>
  <p *ngSwitchCase="'pedro'">Este es pedro</p>
  <p *ngSwitchCase="'ignacio'">Este es ignacio</p>
  <p *ngSwitchDefault>No hay match</p>
</div>

<button (click)="addItem(nombre)">Add name</button>

<ul>
  <li *ngIf="items.length === 0">La lista está vacía</li>
  <li *ngFor="let name of items; index as i">
    {{i+1}}. {{ name }}
    <button (click)="delteItem(i)">Delete</button>
  </li>
</ul>

<div *ngFor="let product of products">
  {{ product.title }}
  <img [src]="product.image" alt="">
  {{ product.price }}
</div>
